.categoryBtn {
  display: flex;
  align-items: center;
  gap: 6px;
  /* padding: 8px 18px; */
  margin-bottom: 1px;
  /* margin-right: 20px; */
  border: none;
  background: transparent;
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
}
