@tailwind base;
@tailwind components;
@tailwind utilities;
/* GLOBAL COLORS */
:root {
  --bg: #FAF1E3;
  --brown: #9b6a34;
  --brown-dark: #88642A;
  --input-border: #9b6a34;
  --auth-radius: 12px;
}

/* RESET + BASE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  font-family: 'Inter', sans-serif;
  color: var(--brown-dark);
}
