@import "tailwindcss";
/* GLOBAL COLORS */
:root {
  --bg: #FAF1E3;
  --brown: #9b6a34;
  --brown-dark: #88642A;
  --input-border: #9b6a34;
  --auth-radius: 12px;
}

/* RESET + BASE */

body {
  background-color: var(--bg);
  font-family: 'Inter', sans-serif;
  color: var(--brown-dark);
}
